<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"/> 
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="version" value="v1.1"/>
    <add key="image_folder" value=""/>
    <add key="origin" value="http://himawari8-dl.nict.go.jp/himawari8/img/D531106/1d/550/"/>
    <add key="cdn1" value="http://res.cloudinary.com/divezagkn/image/fetch/http://himawari8-dl.nict.go.jp/himawari8/img/D531106/1d/550/"/>
    <add key="cdn2" value="http://res.cloudinary.com/durnzm0fx/image/fetch/http://himawari8-dl.nict.go.jp/himawari8/img/D531106/1d/550/"/>
    <add key="cdn3" value="http://res.cloudinary.com/dcafcp4ii/image/fetch/http://himawari8-dl.nict.go.jp/himawari8/img/D531106/1d/550/"/>
    <add key="cdn4" value="http://res.cloudinary.com/dm0vvhqxx/image/fetch/http://himawari8-dl.nict.go.jp/himawari8/img/D531106/1d/550/"/>
    <add key="source_select" value="cdn"/>
    <add key="interval" value="20"/>
    <add key="max_number" value="5"/>
    <add key="autostart" value="false"/>
    <add key="display_mode" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
