<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"/> 
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="version" value="v3.7"/>
    <add key="satellite" value="Himawari8"/>
    <add key="image_folder" value=""/>
    <add key="interval" value="20"/>
    <add key="autostart" value="false"/>
    <add key="size" value="1"/>
    <add key="zoom" value="100"/>
    <add key="source_selection" value="0"/>
    <add key="cloud_name" value="demo"/>
    <add key="api_key" value=""/>
    <add key="api_secret" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
